---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Членство в УНКД</Fragment>
      <Fragment slot="desc">________________________________________________________________________________________</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Наші цінності.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        УНКД – це унікальний проект, що живе питанням розвитку високих технологій та захисту цифрових прав.
        <br><br>
        Ми щиро віримо, що Україна повинна зайняти провідне місце серед найбільш технологічних держав світу. 
        Віддані справі цифровізації та діджиталізації України, ми розробляємо та впроваджуємо проекти, які змінюють 
        життя кожної людини. Діяльність УНКД направлена на розбудову високотехнологічних процесів в нашій державі. 
        Ми не очікуємо на зміни, ми і є рушієм змін.
        <br><br>
        Творче мислення, інтелект та наполегливість є тими рисами, що цінуються в УНКД в першу чергу. 
        Ми ставимо високі цілі, щоб досягти відповідних результатів. 
        УНКД – це унікальне поєднання творчості та високого ритму роботи. 
        Якщо ви розділяєте цей дух, ми будемо раді бачити вас у нашій родині! 
        Приєднуйтесь до УНКД, станьте частиною цифрового майбутнього!.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Що дає членство в УНКД?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Окрім залучення до унікального проєкту, що розвиває високі технології в Україні, 
        членство в УНКД має й практичні переваги. Адже ми цінуємо вашу підтримку і готові допомогти 
        вирішити ваші проблеми.
        <br><br>
        1. Безкоштовний аудит
        <br><br>
            Раз на рік ми проводимо повний аудит вашого сайту. Наші спеціалісти знайдуть всі вразливості та
            можливі порушення політик. Якісний аудит збереже ваші гроші та нерви від можливих проблем у майбутньому. 
            А головне, це буде зроблено абсолютно безкоштовно для кожного члена УНКД, який оплатив членство на рік.  
        <br><br>
        2. Допомога з цифровим видавництвом літератури.
        <br><br>    
            Допомога з цифровим видавництвом літератури. Цифровізація всіх процесів є метою роботи УНКД, 
            саме тому ми готові допомогти вам із видавництвом цифрової літератури. Незалежно від обсягу видання, 
            один раз на рік, члени УНКД мають змогу отримати від організації безкоштовну допомогу. 
            При наявності членства на рік.  
        <br><br>
        3. Доступ до кейсів
        <br><br>
          Члени УНКД мають повний доступ до інформації з кейсами організації. В тому числі посилання на заяви 
          та документи, що допоможуть вам у схожих ситуаціях. Ви отримаєте зразки того, як і до кого звертатись, 
          щоб реагували держоргани. Це допоможе вирішити проблеми онлайн, без постійних дзвінків, паперових 
          листів чи топтання в офісах.
        <br><br>
        4. Захист цифрових прав
        <br><br>
            УНКД  допомагає членам нашої організації у захисті цифрових прав. У тому числі речей, що 
            стосуються банківського обслуговування, цифрових активів та у багатьох інших випадках. 
            Адже в сучасному, цифровому світі завжди добре мати надійних партнерів, які готові допомогти 
            вам у захисті цифрових прав.   Тож, долучайтесь до УНКД і давайте разом створювати цифрове майбутнє!  
            Для того, щоб стати повноправним членом УНКД та мати доступ до всіх привілеїв організації, 
            необхідно сплатити за цими банківськими реквізитами:
        <br><br>
      </p>
    </div>



    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-sm transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
