---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<section class="bg-unkd-section">
  <div class="container-content">
    <h2 class="text-4xl lg:text-5xl xl:text-5xl font-bold flex items-center gap-3 mb-8">
      <img
        src="https://s.w.org/images/core/emoji/16.0.1/svg/1f1fa-1f1e6.svg"
        alt="UA flag"
        class="inline-block w-10 h-10"
      />
      Народний Контроль Діджиталізації
    </h2>

    <p class="mb-10 text-lg text-white font-normal max-w-4xl">
      Український Народний Контроль Діджиталізації (УНКД) – відзначена нагородами громадська
      організація захисту прав людини на діджиталізацію, яка працює як агенція цивільної цифрової
      криміналістики та впроваджує інновації у цифрові трансформації урядового та корпоративного
      сектору щодо національної безпеки. Новаторські ініціативи УНКД сприяють підвищенню стійкості
      України до кіберзлочинів та глобальних загроз кібервійни. Експерти УНКД беруть участь у адвокації
      політики, дослідженнях та навчанні, пов’язаних з усіма аспектами діджиталізації та якості реєстрів.
      Пріоритетними напрямками роботи УНКД є управління рівнем кібербезпеки, аналіз якості критичної
      інфраструктури та якості реєстрів.
      <br /><br />
      Стратегія УНКД – це створення та нарощування потенціалу та можливостей через партнерські
      відносини з державними організаціями, академічними установами та громадськими організаціями.
    </p>

    <hr class="border-gray-700 mb-10" />

    <main class="grid lg:grid-cols-2 gap-8">
      <div>
        <h3 class="text-3xl lg:text-4xl font-bold mb-4 text-white">Досвід та напрямок</h3>
        <p class="text-lg text-slate-200 max-w-xl">
          ГО УНКД, заснований у 2021 році як нішевий орган громадянського суспільства, зараз входить
          до рідкісних організацій, що працюють у галузі між державою та суспільством як незалежна інституція
          контролю якості цифрових трансформацій. Нас підтримує безліч однодумців, волонтерів, державних та
          недержавних організацій та наша неперевершена команда.
          <br /><br />
          Ми працюємо над ініціативами за участю багатьох зацікавлених сторін з державними установами
          та регулюючими органами, які просувають громадське саморегулювання для підвищення національної
          стійкості до кіберзлочинів та глобальних загроз кібервійни. Крім того, ми працюємо над усіма
          проблемами, які впливають на глобальний цифровий спектр України.
        </p>
      </div>
      <div>
        <h3 class="text-3xl lg:text-4xl font-bold mb-4 text-white">Найвищою гідністю є служіння народу України</h3>
        <p class="text-lg text-slate-200 max-w-xl">
          УНКД – це коаліція волонтерів, які стають експертами і об’єднуються як робочі групи
          заради захисту цифрових прав людини.
          <br /><br />
          Саме тому ми надаємо безкоштовну консультацію для громадян України з типових питань – захист
          від кібершахраїв, повернення вкрадених грошей з карт, захист цифрових активів, тощо.
          <br /><br />
          Проте основною благодійною діяльністю є саме громадянська цифрова криміналістика, якої
          так потребує наше суспільство. Попит на цю діяльність лише зростатиме, бо й приватний сектор
          і держава виробляють ці блага у недостатній кількості.
        </p>
      </div>
    </main>

    <div class="mt-16 md:mt-0">
      <h2 class="text-3xl lg:text-4xl font-bold text-white mb-4">
        Неприбуткова діяльність
      </h2>
      <p class="text-lg text-slate-200">
        Діяльність УНКД є неприбутковою. Всі отримані кошти за наші послуги надсилаються
        спеціальним рахунком для реалізації статутних цілей. За рахунок цього існує наша організація.
      </p>
    </div>
  </div>
</section>