---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mx-auto flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Останнi кейси.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Тут мають буті кейсі.
  </p>
  <div class="flex mt-5">
    <Link href="/cases" style="inverted">Переглянути всі кейси</Link>
  </div>
<br><br>
<div class="mt-16 md:mt-0">
  <h2 class="text-white text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Чому УНКД?
  </h2>
  <p class=" text-white text-lg text-left mt-4 text-slate-600">
    Допоможемо заощадити мільйони на загальних юридичних витратах
Корпоративні юридичні витрати продовжують зростати, адже обсяги даних збільшуються. 
Проте, ми можемо запобігти цьому! УНКД розробила спеціальні процеси, окремі від будь-якої 
юридичної технологічної платформи, щоб забезпечити клієнтам економію на загальних корпоративних 
юридичних витратах. Забезпечуючи передбачуваність бюджету та ефективні рішення, підкріплені 
нашим обслуговуванням клієнтів, УНКД допомагає вам досягати успіху в юридичних питаннях та 
захисті інтересів максимально швидко та ефективно.
<br><br>
<b>Наші клієнти отримують колосальний цифровий ресурс</b>
<p class=" text-white text-lg mt-4 text-slate-600">
УНКД  – це надійне джерело для збору інформації, аналізу та розміщення мільярдів цифрових 
об’єктів для наших клієнтів.
<br><br>
Ми обробляємо величезні обсяги даних і аналізуємо все: від електронних документів, електронної 
пошти, даних чату, дописів у соціальних мережах до записів з баз даних та інших бізнес-систем. 
УНКД використовує передові інструменти та програмне забезпечення для збору даних у 
судово-обґрунтований спосіб. Ми робимо все для обробки та аналізу даних за допомогою складних 
технологій індексування та ефективного виведення даних заради потреб наших клієнтів.
<br><br>  
<hr class="mb-12" style="border-color: #bcc16b; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);" />
<p class=" text-white text-lg mt-4 text-slate-600">
Ми спеціалізуємося на захисті наших клієнтів, недопущенні зловживань чи невдалих рішень, а 
також попередженні можливих ризиків. УНКД забезпечує юридичну захищеність у всьому, що стосується 
цифрових процесів. Основним напрямком нашої діяльності є захист цифрових прав фізичних та 
юридичних осіб в судових інстанціях і допомога при зверненні в досудові інстанції. Крім того, 
ми всебічно сприяємо реалізації цифрових прав споживачів на інтеграцію в діджиталізацію. В нашу
діяльність входить:
<div class="text-white bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-left">
<ul>
<li> * здійснення збору інформації про порушення кібербезпеки;</li>
<li> * зберігання і обробка інформації щодо порушення цифрових прав споживачів, викликаного неякісними цифровими продуктами (програмами, сервісами);</li>
<li> * моніторинг та контроль за безпекою та якістю діджіталізації (сервісів, інтерфейсів), вживання необхідних заходів для забезпечення цифрової гігієни споживачів, інформування органів державного управління;</li>
<li> * організація вебінарів і онлайн консалтинг із застосування стандартів безпеки обробки інформації та кібернетичного захисту;</li>
<li> * приведення діяльності клієнтів до відповідності нормам регуляторів для юридичних осіб;</li>
<li> * надання освітніх послуг для громадян з питань захисту цифрових прав споживачів в рамках чинних законодавчих актів.</li>
</ul>
</p>

</div>
<section class="bg-overlay text-white py-20">
<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
 <h2 class="text-white text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Мета
  </h2>
 <p class="text-white text-lg mt-4 text-slate-600">
Ми займаємо активну громадянську позицію, що полягає у розвитку демократичних процесів в українському суспільстві. Адже ми щиро віримо у рівність людей і можливостей. Для цього необхідні прозорі та ефективні інструменти цивільної цифрової криміналістики, що забезпечать захист цифрових прав, прозорість законів та цифровий розвиток України.
</p>
</div>
</section>
