
---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Допомога в судовій справі",
    description:
      "Досвідчені професіонали та передові технології забезпечують юридичний захист і контроль витрат.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Широка експертна допомога",
    description:
      "Безпечні рішення для розумного ведення справ. Технічне лідерство та великий досвід корпоративних юридичних відділів.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Онлайн-розслідування",
    description:
      "Дослідження цифрових активів, внутрішніх інцидентів, аналіз страхових відшкодувань та судових позовів.",
    icon: "bx:bxs-data",
  },
  {
    title: "Представництво в інстанціях",
    description:
      "Наші юристи й фахівці з інформаційних технологій надають послуги до судів загальної юрисдикції та арбітражних судів.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Запити до Міністерств",
    description:
      "Управління великими обсягами документів, суворі юридичні часові рамки та ретельний контроль регуляторів – наша спеціалізація.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Незалежна експертиза",
    description:
      "Всебічний аналіз інформації цифрового продукту, виявлення невідповідності положенням законодавства. Надання експертного висновку.",
    icon: "bx:bxs-user",
  },
  {
    title: "Експертність в судах",
    description:
      "Наша грунтовна експертиза забезпечує міцну основу для побудови судових справ будь-якого масштабу.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Інтеграції",
    description:
      "Експертні в інноваціях скоротять витрати будь-яких операцій, які потребують інтелектуальних витрат людини.",
    icon: "bx:bxs-user",
  },
];
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
