---
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Допомога в судовій справі",
    description:
      "Досвідчені професіонали та передові технології забезпечують юридичний захист і контроль витрат.",
    icon: "bx:bxs-book-bookmark",
  },
  {
    title: "Широка експертна допомога",
    description:
      "Безпечні рішення для розумного ведення справ. Технічне лідерство та великий досвід корпоративних юридичних відділів.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Онлайн-розслідування",
    description:
      "Дослідження цифрових активів, внутрішніх інцидентів, аналіз страхових відшкодувань та судових позовів.",
    icon: "bx:bxs-search",
  },
  {
    title: "Представництво в інстанціях",
    description:
      "Наші юристи й фахівці з інформаційних технологій надають послуги до судів загальної юрисдикції та арбітражних судів.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Запити до Міністерств",
    description:
      "Управління великими обсягами документів, суворі юридичні часові рамки та ретельний контроль регуляторів – наша спеціалізація.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Незалежна експертиза",
    description:
      "Всебічний аналіз інформації цифрового продукту, виявлення невідповідності положенням законодавства. Надання експертного висновку.",
    icon: "bx:bxs-user",
  },
  {
    title: "Експертність в судах",
    description:
      "Наша грунтовна експертиза забезпечує міцну основу для побудови судових справ будь-якого масштабу.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Інтеграції",
    description:
      "Експертні в інноваціях скоротять витрати будь-яких операцій, які потребують інтелектуальних витрат людини.",
    icon: "bx:bxs-user",
  },
];
---

<section class="bg-black bg-opacity-90 py-16 px-6 md:px-12 lg:px-24 text-white">
  <h2 class="text-4xl font-bold mb-12 text-center">Наші послуги</h2>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-12 max-w-5xl mx-auto">
    {features.map((item) => (
      <div class="flex gap-6 items-start">
        <div class="bg-[#b0bc59] rounded-full w-[70px] h-[70px] flex items-center justify-center shrink-0">
          <Icon class="text-white" name={item.icon} style="width: 21px; height: 21px;" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-gray-300 mt-2 leading-relaxed max-w-md">{item.description}</p>
        </div>
      </div>
    ))}
  </div>
</section>




